<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Address Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Contact Details</h1>
    <h3>Name</h3>
    <h5>@Model.GetName()</h5>
    <h3>Phone Number</h3>
    <h5>@Model.GetPhone()</h5>
    <h3>Address</h3>
    <h5>@Model.GetAddress()</h5>
    <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
    <a href="/contact/@Model.GetId()/delete"><button type="button" class="btn btn-danger">Delete this contact</button></a>
  </body>
</html>
