<h1>New Contact</h1>
<form action='/contact/new' method='post'>
  <label for="contact-name">Contact Name</label>
  <input id='contact-name' name='contact-name' type="text">
  <label for="phone-number">Phone Number</label>
  <input id='phone-number' name='phone-number' type="text">
  <label for="contact-address">Phone Number</label>
  <input id='contact-address' name='contact-address' type="text">
  <button type="submit">Submit</button>
</form>
