<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Address Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Clear Address Book</h1>
    <h2>Address book cleared!</h2>
    <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
  </body>
</html>
