<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Address Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>New Contact</h1>
    <form action='/contact/new' method='post'>
      <label for="contact-name">Contact Name</label>
      <input id='contact-name' name='contact-name' type="text">
      <label for="phone-number">Phone Number</label>
      <input id='phone-number' name='phone-number' type="text">
      <label for="contact-address">Address</label>
      <input id='contact-address' name='contact-address' type="text">
      <button type="submit">Submit</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
