<h1>Address Book<h1>
@if (@Model.Count == 0)
{
 <h2>No contacts exits yet!</h2>
}
@foreach (var contact in Model)
{
 <h3>@contact.GetName()</h3>
}
<p>Add contact<p>
<a href="/contact/new">New Contact</a>
